.nav {
  /*네비게이션바 밑에 고정하기*/
    position: fixed;
    bottom: 0;
    width: 100%;

    background-color: #f9f9fa;
    padding: 20px 50px;

    /*padding때문에 ellipsis가 없어져버림 
    그래서 박스 사이즈를 크기에 맞게 사이즈 맞춤*/
    box-sizing: border-box;

    border-top: 1px solid rgba(121, 121, 121, 0.3);
  }
  .nav__list {
    display: flex;
    justify-content: space-between;
  }
  .nav__link {
    position: relative;
    color: #2e363e;
  }
  
  @keyframes notificationAnimation {
    0% {
      transform: none;
    }
    50% {
      transform: translateY(-5px) rotateY(360deg);
    }
    100% {
      transform: none;
    }
  }
  
  .nav__notification {
    /*absolute 아이콘과 spen(nav__notification)이 합침 
     부모선언 relative --> nav__link  좀더 공부 */
    position: absolute;
    left: 15px;
    bottom: 15px;
    animation: notificationAnimation 2s ease-in-out infinite;
  }
  
  @keyframes appearBtnAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .nav__btn {
    transform: translateY(50px);
    opacity: 0;
    animation: appearBtnAnimation 0.3s ease-in-out forwards;
  }
  
  .nav__btn:nth-child(2) {
    animation-delay: 0.2s;
  }
  .nav__btn:nth-child(3) {
    animation-delay: 0.5s;
  }
  .nav__btn:last-child {
    animation-delay: 0.8s;
  }