.status-bar {
    display: flex;
    justify-content: center;
    padding: 5px 3px;
    /*숙제 위에 status바 스크롤 있어도 고정하는 속성주기
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    */
  }
  .status-bar__column {
    width: 33%;
  }
  .status-bar__column:first-child span {
    margin-right: 5px;
  }
  .status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
  }
  .status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  /* margin 위 옆 
  class 다음 쓸때 한칸띄우고 .fa-/fa-battery-full */
  .status-bar__column .fa-battery-full {
    margin: 0px 5px;
  }